body{
    background-image: url(/Images/bgf.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
 
    height: 100vh;
    width: 100%;
}
.com{
    
    text-align: center;
}
h3{
    font-size: 30px;
    font-family: tahoma;
}
.text{
    text-align: center;
}
textarea{
    border: 5px solid;
    border-radius: 20px;
}




.buttons{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
}
#btn{
    font-weight: bolder;
    font-size: 20px;
    background-color: transparent;
    border-radius: 20px;
    padding: 20px;
}
.send:hover{
    background-color: green;
    transform: scale(1.2);
    border-radius: 20px;

}
.cancel:hover{
    background-color: red;
    transform: scale(1.2);
    border-radius: 20px;

}

















