
nav ul{
    display: flex;  
    justify-content: center; 
}
nav li{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style: none;
    padding: 20px 80px;
    text-align: center;
    font-weight: bold;

    
}
nav ul li a{
    text-decoration:none;
    color: rgb(255, 255, 255);
    text-shadow: 10px 0pc 10px black;
    font-size: 30px;
}

a #sub{
    border: 4px solid white;
    background-color: green;
}
    
nav ul li a:hover{
    color: rgb(56, 56, 56);
    text-shadow: 1px 1px rgb(226, 202, 202);
}
/*------------------------------------------Header------------------------------------------*/
html,body{
    text-align: center;
    font-family: Tahoma;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(Images/tag.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    white-space: normal;
    max-width: 100%;
    overflow-x: hidden;
    color: white;  
}
#top{
    float:right;
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 0;
   mix-blend-mode:color-burn;
   
}
header{
    margin-left: 100px;
    line-height: 0.4;
}
h2{
    font-size: 60px;
    text-shadow: 0px 0px 40px black;

}
.MainContainer{
    height: 100vh;
}

.name_dev{
    font-size: 60px;
    text-shadow: 0px 0px 40px black;
    display: flex;
    gap: 450px;
    padding-top: 100px;
    position: relative;
}
.pp img{
    opacity: 0.5;
    border-radius: 250px;
    padding-top: 10px;
    filter: drop-shadow( 20px 20px 50px black);
    position: absolute;
    right: -10px;
}
i{
    font-size: 40px;
}

.vid{
    display: flex;
    gap: 20px;
}
#vbutton{
    height: 50px;
    width: 300px;
    border-radius: 200px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(24, 142, 138);
    color: white;
    border: 3px solid ;
    line-height: 2;
}
#vbutton:hover{
    background-color:cornflowerblue;
    cursor: pointer;
    transition: 0.2;
    transform: scale(1.2);
}

/* .................EXPERIENCE */

figcaption{
    font-weight: bold;
}
.exp img{
    border-radius: 50px;
    height: 100px;
    border: 2px solid rgb(21, 170, 135);
}

figure:hover{
    transform: rotate(20deg);
}
.exp{
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

#skills,#education,#interest,#contacts{
    margin-top: 150px;
    font-size: 30px;
}




/* ............education................... */

.eddiv {
    display: flex;
    justify-content: center;
    height: 700px; 
    gap: 100px;
    align-items: center;
    
}
.q1 ,.q2{
    border: 3px solid white;
    border-radius: 50px;
    padding: 20px;
    box-shadow: 0px 0px 10px wheat;
    position: relative;
}
#gradyear img{
    height: 100px;
}
#gradyear{
    font-size: 30px;
    margin: 50px 50px;
    text-shadow: 0px 0px 10px black;
}
#sub1,#sub2{
    padding-top: 20px;
}
#sub1,#sub2 li{
    border: 3px solid;
    list-style: none;
    line-height: 2;
    font-style: oblique;
    box-shadow: 0px 0px 10px wheat;
    border-radius: 10px;
    margin: 30px;
    padding: 15px;
}
#sub1,#sub2 li:hover{
    transform: scale(1.4);
}
#ye{
    border: 3px solid white;
    border-radius: 50px;
    width:200px;
    background-color: rgb(21, 170, 135);
    position: absolute;
    top: -35px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
}
#Dip{
    font-weight: bolder;
}

/* ............SKILLS................... */

.skillcont{
    margin: auto;
    display: flex;
}
.sk{
    margin: auto;
    background-color:rgb(255, 255, 255,0.2);
    border-radius: 20px;
    box-shadow: 0px 0px 10px wheat;
    padding: 10px;
}
.sk h3{
    color: white;
    text-shadow: 0px 0px 10px black;
}
.sk:hover{
    transform: scale(1.4);
}
.sk img{
    height: 250px;
    width: 210px;
}
.sk img #promej{
    margin: 0px 50px;
}
#skills{
    font-size: 30px;
}
.myskills{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
/* ..................INTEREST............ */
.pinterest{
    margin: 100px;
    font-size:45px;
    text-shadow: 0px 0px 55px black;
}
/* ...............CONTACTS............... */
.contlink{
    margin: 250px;
    display: flex;
    justify-content: space-between;
}

#sm{
    border-radius: 20px;
}
.empt{
    height: 20px;
}
